workspace/jsnli_1.1
workspace/sentence_bert/__pycache__/*
workspace/output/*
!.gitkeep
workspace/poliinfo_utterance_dataset/*
workspace/PoliInfo_dataclasses/__pycache__
workspace/PoliInfo3-FormalRun-dataset/*
workspace/test.txt
workspace/話者毎に色分け-最終盤/*
workspace/話者毎に色付け-2022-07-07/*
workspace/poliinfo_utterance_dataset_test/*
workspace/Japanese_L-12_H-768_A-12_E-30_BPE/*
workspace/runs/*
workspace/t-sne/*
workspace/発話毎に色付け/*
workspace/話者毎に色付け.backup/*
/workspace/日付毎に色付け/*
workspace/image/*
workspace/speaker_utterance_dateset/*
workspace/result/*